# The number of milliseconds of each tick
tickTime=2000
# The number of ticks that the initial 
# synchronization phase can take
initLimit=10
# The number of ticks that can pass between 
# sending a request and getting an acknowledgement
syncLimit=5
# the directory where the snapshot is stored.
# do not use /tmp for storage, /tmp here is just 
# example sakes.
dataDir={{ zookeeper.data_dir }}
# the port at which the clients will connect
# clientPort=2181
# the maximum number of client connections.
# increase this if you need to handle more clients
#maxClientCnxns=60


#mTLS

# server to server
sslQuorum=true
serverCnxnFactory=org.apache.zookeeper.server.NettyServerCnxnFactory
ssl.quorum.keyStore.location={{ zookeeper.base }}/{{ zookeeper.version }}/security/keystore.p12
ssl.quorum.keyStore.password={{ zookeeper.keystore_pass }}
ssl.quorum.keyStore.type=PKCS12
ssl.quorum.trustStore.location={{ zookeeper.base }}/{{ zookeeper.version }}/security/truststore.p12
ssl.quorum.trustStore.password={{ zookeeper.truststore_pass }}
ssl.quorum.trustStore.type=PKCS12

# client to server

secureClientPort=2181
ssl.keyStore.location={{ zookeeper.base }}/{{ zookeeper.version }}/security/keystore.p12
ssl.keyStore.password={{ zookeeper.keystore_pass }}
ssl.keyStore.type=PKCS12
ssl.trustStore.location={{ zookeeper.base }}/{{ zookeeper.version }}/security/truststore.p12
ssl.trustStore.password={{ zookeeper.truststore_pass }}
ssl.trustStore.type=PKCS12

{% if groups['zookeeper'] | length > 1%}
{% for group in groups['zookeeper']%}
server.{{ loop.index }}={{ group }}:2888:3888
{% endfor %}
{% endif %}

#
# Be sure to read the maintenance section of the 
# administrator guide before turning on autopurge.
#
# http://zookeeper.apache.org/doc/current/zookeeperAdmin.html#sc_maintenance
#
# The number of snapshots to retain in dataDir
autopurge.snapRetainCount=3
# Purge task interval in hours
# Set to "0" to disable auto purge feature
autopurge.purgeInterval=1

## Metrics Providers
#
# https://prometheus.io Metrics Exporter
#metricsProvider.className=org.apache.zookeeper.metrics.prometheus.PrometheusMetricsProvider
#metricsProvider.httpPort=7000
#metricsProvider.exportJvmInfo=true
